[Desktop Entry]
Type=Application
Version=1.0
Name=Minecraft Launcher
Comment=Minecraft Launcher
Exec=minecraft-launcher-ot
Path=minecraft-launcher-ot
Icon=${SNAP}/meta/gui/minecraft-launcher-ot.svg
Terminal=false
Categories=Game;Application;
